<section class="bg-bgLight py-4 px-8 w-[15rem] box-border flex flex-col gap-8 text-textDark" >
    <header>
        <h1 class="text-3xl text-center text-accentDark font-black underline" > Aligner </h1>
    </header>

    <nav class="flex flex-col gap-8" >
        <div class="flex items-center gap-4">
            <div class="w-9 h-9 rounded-full overflow-hidden" >
                <img src="~/assets/images/default.jpeg" alt="Default image" class=" object-center" />
            </div>
            <p class=" font-bold text-xl line-clamp-1 " > Profile </p>
        </div>

        <ul class="flex flex-col gap-0" >
            <a href="">
                <li class="nav-list-item">
                        Home
                </li>
            </a>
            <a href="">
                <li class="nav-list-item">
                        Tools
                </li>
            </a>
            <a href="">
                <li class="nav-list-item">
                        Privacy
                </li>
            </a>
            <a href="">
                <li class="nav-list-item">
                        About
                </li>
            </a>
        </ul>

    </nav>

</section>