<section class="flex justify-center items-center py-4 w-full box-border" >
    <section class="p-8 bg-accentDark rounded-sm" >
        
        <header>
            <h1 class="text-3xl text-center text-textDark font-black" > ToDo List </h1>
        </header>

        <main>
            <form method="get" asp-controller="" asp-action="" >
            </form>
        </main>

        <footer>

        </footer>

    </section>
</section>